/* Reset styly */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

:root {
	--main-bg: white;
	--header-bg: rgb(142, 138, 222);
	--background: black;
	--main-color: black;
}

:root.dark {
	--main-bg:black;
	--header-bg: rgb(51, 29, 71);
	--background: white;
	--main-color: white;
}
/* @font-face {
    font-family: "tetris";
    src: url('fonts/PressStart2P-Regular.ttf') format('ttf');
  } */
#game h1 {
    font-family: 'Press Start 2P', Consolas, monospace;
    color: var(--main-color);
}

#game canvas {
    display: block;
    margin: 0 auto;
}

body {
    background-color: var(--main-bg);
    color: var(--main-color);
    font-family: Verdana;
    scroll-behavior: smooth;
    padding-top: 80px;
}

body canvas {
    background-color: black;
}

button {
    margin-left: 5px;
    margin-right: 5px;
}
svg {
    cursor: pointer;
}
header {
    position: fixed;
    top: 0;
    background-color: var(--header-bg);
    color: var(--main-color);
    padding: 20px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    z-index: 10;
}

header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    list-style-type: none;
}

header nav ul li {
    font-size: medium;
    margin-left: 20px;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    border: 3px solid transparent;
    border-radius: 5px;
}

header nav ul li:hover {
            border-color: var(--main-color);
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
            -moz-transform: scale(1.1);
            -o-transform: scale(1.1);
}

header nav ul li:hover a {
    -webkit-transform: translateX(5px);
        -ms-transform: translateX(5px);
            transform: translateX(5px);
}

header nav ul li a {
    color: var(--main-color);
    text-decoration: none;
}

.right_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 30%;
    z-index: 1;
    font-size: 40px;
    cursor: pointer;
}

.right_header .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}
h1{
    text-align: center;
    margin-top: 20px;
    font-size: 60px;
}
aside p {
    line-height: 1.5;
    font-size: medium;
}

section {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-animation: slidein 0.5s forwards;
            animation: slidein 0.5s forwards;
}
section * {
    margin-top: 20px;
}
footer {
    position: relative;
    width: 100%;
    background: var(--header-bg);
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .social-icon__item,
  .menu__item {
    list-style: none;
  }
  
  .social-icon__link {
    font-size: 2rem;
    color: var(--background);
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  .social-icon__link:hover {
    transform: translateY(-10px);
  }
  
  .menu__link {
    font-size: 1.2rem;
    color: var(--background);
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }
  
  .menu__link:hover {
    opacity: 1;
  }
  
  .footer p {
    color: var(--background);
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }
/*end of base styles*/